body{
    background-color: #D0DEDF;
}
.image{
    width: 472px;
    height: 478px;
    margin-left: 700px;
}
h1{
    margin-left: 100px;
}
.text-1{
  width: 800px;
  height: 500px;
  margin-left: 16px;
  margin-top: -400px;

}#one{
    margin-left: 20px;
    margin-top: -400px;
}


