body{
    position: relative;
    width: 886px;
    height: 713px;
    
    background: linear-gradient(270deg, #ADCCC1 1.58%, rgba(201, 226, 240, 0) 69.14%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;

}

.navbar-li{
    position: absolute;
width: 373px;
height: 12px;
left: 165px;
top: 6px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;

color: #000000;

}
h1{position: absolute;
    width: 429px;
    height: 157px;
    left: -1px;
    top: 165px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 47px;
    line-height: 55px;
    text-align: center;
    
    color: #000000;
}
h2{position: absolute;
    width: 414px;
    height: 62px;
    left: 44px;
    top: 356px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 53px;
    line-height: 62px;
    text-align: center;
    
    color: #000000; 
}
.fb{position: absolute;
    width: 25px;
    height: 21px;
    left: 639px;
    top: 490px;
    
}
.text-1{position: absolute;
    width: 254px;
    height: 18px;
    left: 679px;
    top: 493px;
    
    font-family: Risque;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    /* identical to box height */
    
    
    color: #000000;
    
}
.twitter{position: absolute;
    width: 23px;
    height: 23px;
    left: 641px;
    top: 538px;

}
.text-2{
    position: absolute;
width: 96px;
height: 17px;
left: 678px;
top: 540px;

font-family: Risque;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 17px;

}
.github{
    position: absolute;
    width: 25px;
    height: 28px;
    left: 641px;
    top: 448px;
   
}