body{
    background: linear-gradient(270deg, #ADCCC1 1.58%, rgba(201, 226, 240, 0) 69.14%);
}
a{
    text-decoration: none;
}
.navbar{
    width: 357px;
    height: 18px;
    margin-left: 240px;
    margin-top: 120px;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
} 
.image{
    width: 290px;
    height: 290px;
    margin-left: 803px;
    margin-top: 15px;

} 
h1{
    width: 120px;
    height: 120px;
    margin-left: 250px;
    margin-top: -255px;
    font-weight: bold;
    font-size: 51px;
    line-height: 62px;
}
   